{%extends 'musicbeats/basic.html '%}
{% block title %}All Songs{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6" style="padding-top: 3%;">
      <img src="/media/{{song.image}}" alt="" height="250px" width="350px">
    </div>
      <div class="col-md-6">
        <h2 style="padding-top: 6%; font-weight: 550; color: orange">Title: {{song.name}}</h2>
        <h5 style="padding-top: 2%; font-weight: 550;">Category: {{song.tags}}</h5>
        <h5 style="padding-top: 2%; font-weight: 550;">Movie: {{song.movie}}</h5>
        <h5 style="padding-top: 2%; font-weight: 550;">Singer: {{song.singer}}</h5>
        <h5 style="padding-top: 2%; font-weight: 550;">VideoLink: <a href="{{song.link}}" target="blank_">Click Here</a></h5>
        <audio controls>
          <source src="/media/{{song.song}}" type="audio/mp3">
        </audio>
        <div style="padding-top: 2%;">
        <a><button class="btn btn-outline-danger">Add to WatchLater</button></a>
        <a download href="/media/{{song.song}}" ><button class="btn btn-outline-danger">Download Song</button></a>
  </div>
</div>
</div>
</div>
{% endblock %}